In [10]:
# 2.4 - very simple search with result ordering by word frequency
#
# code for the Intuitive Text Mining book
# Tariq Rashid, 2018

In [11]:
# collections for counter
import collections

# pandas for dataframes
import pandas

In [12]:
# simple documents, with names and content

doc_1_name = "doc_1"
doc_1_text = "he carved the wooden owl he saw the owl resting on a branch the owl babies lived in a tree"

doc_2_name = "doc_2"
#doc_2_text = "the cat sat on the mat the owl sat in a tree branch the mouse stayed in its home"
doc_2_text = "owl"

# collate into a corpus dictionary
corpus = {
    doc_1_name : doc_1_text.split(),
    doc_2_name : doc_2_text.split()
}

# print out document names and values
print(corpus.keys())
print(corpus.values())

dict_keys(['doc_1', 'doc_2'])
dict_values([['he', 'carved', 'the', 'wooden', 'owl', 'he', 'saw', 'the', 'owl', 'resting', 'on', 'a', 'branch', 'the', 'owl', 'babies', 'lived', 'in', 'a', 'tree'], ['owl']])

In [13]:
# count occurrences of words

dataframe_list = []

# work through all words in all documents
for doc in corpus.keys():
    print("indexing ..", doc)
    words_ctr = collections.Counter(corpus[doc])
    
    dataframe_list.append( pandas.DataFrame.from_dict(words_ctr, orient='index', columns=[doc]) )
    
    pass

# join together the per-doc dataframes
occurrence_matrix = pandas.concat(dataframe_list, axis=1, sort=False)

# replace empty cells with 0
occurrence_matrix.fillna(0, inplace=True)

# change number type from float to integer
occurrence_matrix = occurrence_matrix.astype(int)

indexing .. doc_1
indexing .. doc_2

In [14]:
# display word occurrence matrix
occurrence_matrix

         doc_1  doc_2
he           2      0
carved       1      0
the          3      0
wooden       1      0
owl          3      1
saw          1      0
resting      1      0
on           1      0
a            2      0
branch       1      0
babies       1      0
lived        1      0
in           1      0
tree         1      0

In [15]:
# sums of occurrence columns is the doc word length

occurrence_matrix.sum()

doc_1    20
doc_2     1
dtype: int64

In [16]:
# frequency matrix is occurrence matrix columns divided by column sums

frequency_matrix = occurrence_matrix/occurrence_matrix.sum()
frequency_matrix

         doc_1  doc_2
he        0.10    0.0
carved    0.05    0.0
the       0.15    0.0
wooden    0.05    0.0
owl       0.15    1.0
saw       0.05    0.0
resting   0.05    0.0
on        0.05    0.0
a         0.10    0.0
branch    0.05    0.0
babies    0.05    0.0
lived     0.05    0.0
in        0.05    0.0
tree      0.05    0.0

In [17]:
# frequencies should add up to 1.0

frequency_matrix.sum()

doc_1    1.0
doc_2    1.0
dtype: float64

In [18]:
# do search, results sorted by occurrence

frequency_matrix.loc["owl"].sort_values(ascending=False)

doc_2    1.00
doc_1    0.15
Name: owl, dtype: float64